@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

html {
    margin: 0;
    padding: 0;
    font-family: "Doto", serif;
}

body {
    background: linear-gradient(to right, black,black, #9198e5);
    
    color: whitesmoke;
    margin: auto;
    height: auto;
}

nav {
    padding: 1em;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

ul {
    list-style: none;
}

ul li {
    font-size: 20px;
    font-weight: 900;
    background: linear-gradient(#ffffff 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: 0.35s;
    display: inline;
}

li:hover {
    font-weight: 900;
    --p: 100%;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.35s ease-in-out;  
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    font-weight: 900;
    --p: 100%;
    color: rgb(116, 116, 116);
    cursor: pointer;
    transition: 0.35s ease-in-out;  
}

aside {
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 3.5em;
    margin-top: 2em;
    gap: 1em;
}

aside i {
    font-size: 20px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}
