@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

html {
    margin: 0;
    padding: 0;
    font-family: "Doto", serif;
}

body {
    background: linear-gradient(to right,#180a28, black,black, #180a28);
    
    color: whitesmoke;
    margin: auto;
    height: auto;
}

nav {
    padding: 1em;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

ul {
    list-style: none;
}

ul li {
    font-size: 20px;
    font-weight: 900;
    background: linear-gradient(#ffffff 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: 0.35s;
    display: inline;
}

li:hover {
    font-weight: 900;
    --p: 100%;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.35s ease-in-out;  
}

ul li.title {
    font-size: 36px;
    background-color: transparent;
}

li.title:hover {
    cursor: default;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    font-weight: 900;
    --p: 100%;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.35s ease-in-out;  
}

aside {
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 3.5em;
    margin-top: 2em;
    gap: 1em;
}

aside a {
    font-size: 15px;
    font-weight: 500;
    background: linear-gradient(#ffffff 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: 0.35s;
    display: inline;
}

aside a:hover {
    font-weight: 900;
    --p: 100%;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.35s ease-in-out;
    width: fit-content;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}
